<%= form_with(model: @resident) do |f| %>
    <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    </div>
    <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    </div>
    <div class="field">
        <%= f.label :curfew %>
        <%= f.time_field :curfew %>
    </div>
    <div class="field">
        <%= f.label :phone_number %>
        <%= f.telephone_field :phone_number %>
    </div>
    <div class="field">
        <%= f.label :student_id %>
        <%= f.text_field :student_id %>
    </div>
    <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>
    <div class="field">
        <%= f.label :college %>
        <%= f.collection_select :college_id, College.all, :id, :name %>
    </div>
    <div class="field">
        <%= f.label :residence_hall %>
        <%= f.collection_select :residence_hall_id, ResidenceHall.all.where(college_id: :college_id), :id, :name %>
    </div>
    <div class="field">
        <%= f.label :room %>
        <%= f.collection_select(:room_id, Room.all.where(residence_hall_id: :residence_hall_id), :id, :room_number)%>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>