<div class="heading">
    <h2><%= @resident.first_name%> <%= @resident.last_name%></h2>
    <div class="options">
        <div>
            <%= link_to "Edit", edit_resident_path(@resident) %>
            <%= link_to "Back", :back %>
        </div>
    </div>
</div>
<p>Student ID: <%= @resident.student_id %></p>
<p>Phone Number: <%= @resident.phone_number %></p>
<p>Email: <%= @resident.email %></p>
<p>Curfew: <%= @resident.curfew %></p>
<hr>
<p>College: <%= @college.name %></p>
<p>Residence Hall: <%= @residence_hall.name %></p>
<p>Room Number: <%= @room.room_number %></p>
