<div class="heading">
    <h2>Colleges (<%= @colleges.length%>)</h2>
    <div class="options">
        <%= link_to "New", "/colleges/new" %>
    </div>
</div>

<% @colleges.each do |college| %>
    <div class="row">
        <h3><%= college.name %></h3>
        <div class="options">
            <%= link_to "View", college_path(college) %>
            <%= link_to "Edit", edit_college_path(college) %>
            <%= link_to "Delete", college, method: :delete, data: { confirm: "Are you sure?" }, class: "destructive" %>
        </div>
    </div>
<% end %>