<div class="heading">
    <h2>New College</h2>
    <div class="options">
        <%= link_to "Cancel", :back %>
    </div>
</div>
<div class="form">
    <%= form_for(@college) do |f| %>
        <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        <div class="actions">
            <%= f.submit "Add" %>
        </div>
    <% end %>
</div>
<hr>
<div class="import">
    <h3>Import</h3>
    <%= form_tag colleges_import_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import CSV" %>
    <% end %>
    <h3>Example CSV: </h3>
    <div class="code">
        <p>name<br/>College 1<br/>College 2<br/>College 3</p>
    </div>
</div>