<div class="form">
    <%= form_for(@college) do |f| %>
        <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        <div class="actions">
            <%= f.submit "Add" %>
        </div>
    <% end %>
    <%= link_to "Cancel", :back %>
</div>